<section class="sect-1">

    <!-- Banner -->
    <section class="banner">

        <div class="banner-text">
            <h2>Nueva Experiencia</h2>
            <h1>Moda Femenina</h1>
            <p>40% de Descuento</p>
            <button>Compra Ahora</button>
            <button>Saber Más</button>
        </div>

        <video src="/assets/banner.mp4"></video>
    </section>

    <!-- Beneficios -->
    <section class="benefits">
        <div class="benefit">🚚 Free Shipping</div>
        <div class="benefit">🔒 Secure Payment</div>
        <div class="benefit">💰 100% Money Back</div>
        <div class="benefit">📞 Online Support</div>
    </section>



    <section class="featured-section">

        <div class="featured-item">
            <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Women's Style">
        </div>

        <div class="content-featured">

            <div class="featured-item1">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Handbag">
            </div>

            <div class="featured-item1">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Watch">
            </div>

            <div class="featured-item3">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
            </div>
        </div>

    </section>








    <!-- Productos Destacados -->
    <section class="featured-products">

        <h2>Productos Destacados</h2>

        <div class="product-container">

            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>

            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>


            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Jacket">
                <p>Brown Solid Biker Jacket</p>
                <p class="price">$110.00 - $120.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Shoes">
                <p>Men Brown Mid-Top Sneakers</p>
                <p class="price">$115.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Dress">
                <p>Petite Olive Green Solid Top</p>
                <p class="price">$49.00</p>
            </div>
        </div>
    </section>


</section>