
    <!-- Productos Destacados -->
    <section class="featured-products">

        <h2>Hombre</h2>

        <div class="product-container">

            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>

            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Backpack">
                <p>Tan Solid Laptop Backpack</p>
                <p class="price">$149.00 - $185.00</p>
            </div>


            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Jacket">
                <p>Brown Solid Biker Jacket</p>
                <p class="price">$110.00 - $120.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Shoes">
                <p>Men Brown Mid-Top Sneakers</p>
                <p class="price">$115.00</p>
            </div>
            <div class="product">
                <img src="https://img.pikbest.com/origin/06/48/74/76YpIkbEsT5yK.jpg!w700wp" alt="Dress">
                <p>Petite Olive Green Solid Top</p>
                <p class="price">$49.00</p>
            </div>
        </div>
    </section>
